<% content_for(:title) %>
<div class="main-visual">
  <div class="top-inner-text">
    <h1 class="main-message mb-4">LunchcafeOcean</h1>
    <h2 class="sub-message">海の見えるランチカフェ予約サイト</h2>
  </div>
</div>
<center class="container mt-5">
  <h2 class="mb-5">最新のお知らせ</h2>
  <div class="slider">
    <%= render partial: "static_pages/news", collection: @news%>
  </div>
  <%= link_to "MORE", news_index_path, class: "btn btn-outline-success btn-lg rounded-pill w-50 mt-2" %>
</center>
<center class="container my-5">
  <h2>LunchcafeOceanについて</h2>
  <div class="row mt-3">
    <div class="fadein col-12 col-md-6 my-3 px-4 px-lg-5">
      <%= image_tag "reservation.jpg", class: "img-fluid" %>
      <h4 class="explain-title my-3">簡単Web予約</h4>
      <p class="px-3 px-lg-5">こちらのページからどなたでも簡単にランチのご予約をして頂けます。会員登録して頂くと入力項目が減りより簡単にご予約をして頂けます。</p>
    </div>
    <div class="fadein col-12 col-md-6 my-3 px-4 px-lg-5">
      <%= image_tag "sea.jpg", class: "img-fluid" %>
      <h4 class="explain-title my-3">綺麗な海を一望できる店内</h4>
      <p class="px-3 px-lg-5">店内から綺麗な海が一望できます。透き通った海を眺めながら楽しみ食事は格別です。</p>
    </div>
    <div class="fadein col-12 col-md-6 my-3 px-4 px-lg-5">
      <%= image_tag "lunch.jpg", class: "img-fluid" %>
      <h4 class="explain-title my-3">日替わりランチ</h4>
      <p class="px-3 px-lg-5">1日20食限定の自家栽培で取れた野菜や地元の食材を使って作る栄養満点な日替わりランチ。お得なケーキセットもご用意しておりますのでご一緒にお楽しみ下さい。</p>
    </div>
    <div class="fadein col-12 col-md-6 my-3 px-4 px-lg-5">
      <%= image_tag "cake.jpg", class: "img-fluid" %>
      <h4 class="explain-title my-3">カフェでも本格ツイーツ</h4>
      <p class="px-3 px-lg-5">パティシエが作る本格的なスイーツをお楽しみ下さい。予約限定でホールケーキもご用意しております。デコレーションやメッセージもお付けできますのでお気軽にお問い合わせ下さい。</p>
    </div>
  </div>
</center>
