<% content_for(:title, "パスワード再設定") %>
<div class="container reset-edit-margin">
  <h2 class="text-center my-5">パスワード再設定</h2>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-envelope"></i>
            </div>
          </div>
          <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-lock"></i>
            </div>
          </div>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワード", required: true %>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-lock"></i>
            </div>
          </div>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードを再度入力", required: true %>
        </div>
        <div class="actions text-center mb-5">
          <%= f.submit "送信", class: "btn btn-success w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
