<% content_for(:title, "メニュー") %>
<div class="menu-visual">
  <div class="top-inner-text">
    <h1 class="menu-message">Menu</h1>
  </div>
</div>
<div class="container">
  <% breadcrumb :menu %>
  <%= breadcrumbs menu: " &rsaquo; " %>
  <h1 class="text-center my-5">メニュー</h1>
  <div class="row shadow menu-index py-5">
    <div class="col-12 col-md-6 mt-4">
      <h4 class="text-center">Lunch</h4>
      <ul>
        <li>日替わりランチ</li>
        <li><span class="menu-name">ドリンクセット</span><span class="menu-price">¥ 1,300</span></li>
        <li><span class="menu-name">ケーキ + ドリンクセット</span><span class="menu-price">¥ 1,500</span></li>
        <li>ピザ</li>
        <li><span class="menu-name">単品</span><span class="menu-price">¥ 700</span></li>
        <li><span class="menu-name">ドリンクセット</span><span class="menu-price">¥ 1,000</span></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <h4 class="text-center">Sweats</h4>
      <ul>
        <li>ケーキ + ドリンクセット </span><span class="menu-price">¥ 600</span></li>
      <li><span class="menu-price"><small>単品価格</small></span></li>
      <li>ベイクドチーズケーキ<span class="menu-price">¥ 250</span></li>
      <li>ガトーショコラ<span class="menu-price">¥ 250</span></li>
      <li>レアチーズケーキ<span class="menu-price">¥ 300</span></li>
      <li>ブリュレ<span class="menu-price">¥ 300</span></li>
    </ul>
  </div>
  <div class="col-12 col-md-6 mt-4">
    <h4 class="text-center">Drink</h4>
    <ul>
      <li>コーヒー(ホット/アイス)<span class="menu-price">¥ 400</span></li>
      <li>紅茶(ホット/アイス)<span class="menu-price">¥ 400</span></li>
      <li>オレンジジュース<span class="menu-price">¥ 400</span></li>
      <li>アップルジュース<span class="menu-price">¥ 400</span></li>
    </ul>
  </div>
  <div class="col-12 col-md-6 mt-4">
    <h4 class="text-center">WholeCake</h4>
    <ul>
      <li>ベイクドチーズケーキ<span class="menu-price">¥ 1,500</span></li>
      <li>ガトーショコラ<span class="menu-price">¥ 1,500</span></li>
      <li>レアチーズケーキ<span class="menu-price">¥ 2,500</span></li>
    </ul>
  </div>
  <div class="col-10 text-left ml-5">
    <small>表示価格は全て税込表示です。</small><br>
  </div>
</div>
<% if @lunchs.exists?%>
  <div class="fadein">
    <h2 class="text-center my-5">Lunch</h2>
    <div class="row">
      <%= render partial: "menu", collection: @lunchs %>
    </div>
  </div>
<% end %>
<% if @sweets.exists?%>
  <div class="fadein">
    <h2 class="text-center my-5">Sweets</h2>
    <div class="row">
      <%= render partial: "menu", collection: @sweets %>
    </div>
  </div>
<% end %>
<% if @wholecakes.exists?%>
  <div class="fadein">
    <h2 class="text-center my-5">WholeCake</h2>
    <div class="row">
      <%= render partial: "menu", collection: @wholecakes %>
    </div>
  </div>
<% end %>
<% if @others.exists?%>
  <div class="fadein">
    <h2 class="text-center my-5">Decoration sample</h2>
    <div class="row">
      <%= render partial: "menu", collection: @others %>
    </div>
  </div>
<% end %>
</div>
