<% content_for(:title, @news.title) %>
<% set_meta_tags og: { title: @news.title, type: 'article', image: @news.news_image.url } %>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card bg-white my-4 p-2 shadow">
        <h2 class="m-5"><%= @news.title %></h2>
        <div class="d-flex justify-content-between align-items-center text-muted mx-5">
          <%= l @news.created_at, format: :news %>
          <%= link_to @news.category_i18n, news_index_path(category: @news.category), class:"btn btn-outline-success btn-sm rounded-pill text-nowrap ml-auto" %>
        </div>
        <div class="mx-5 mb-5">
          <%= image_tag @news.news_image.url, class: "card-img-top img-fluid rounded mt-3" %>
        </div>
        <div class="body m-5">
          <p><%= @news.body %></p>
        </div>
      </div>
      <%= render "arrows" %>
    </div>
    <div class="col-lg-4 mx-3 mx-lg-0">
      <h5 class="mt-5 mb-3">最新のお知らせ</h5>
      <div class="shadow-lg mb-3">
        <%= render @latest_news %>
      </div>
    </div>
  </div>
</div>
