<%= form_with model: @contact, method: :post, url: contacts_back_path, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phonenumber %>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :message %>
  <div class="actions text-center mb-3">
    <%= f.submit "入力画面に戻る", class: "btn btn-secondary w-100" %>
  </div>
<% end %>